@font-face {
  font-family: "Outfit";
  src: url(fonts/Outfit-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: Outfit, sans-serif;
}

.nav-list a.externo:hover,
.nav-list .active {
  background-color: #ff8000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.logo {
  width: 50px;
}

header {
  background-color: rgb(144, 0, 255);
}

a.externo {
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.4s;
  padding: 10px;
  margin: 5px 5px;
}

a.externo:hover {
  background-color: #ff8000;
  box-shadow: 0 0 8px -2px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000078;
  height: 7vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 2px;
  margin: 20px;
}

.alinharImg {
  text-align: center;
}

.imgPrincipal {
  margin-top: -100px;
  margin-bottom: 50px;
  width: 400px;
}

.imgBrain {
  width: 400px;
  border-radius: 20px;
  margin-bottom: 30px;
}

main {
  background-color: #ff74a741;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 200px 40px 200px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.rightSec {
  margin-left: 100px;
}

h3 {
  font-size: 17px;
}

footer {
  margin-top: 30px;
  background-color: #4a148c;
  color: white;
  padding: 15px;
  text-align: center;
}
